extends layout

block content
  h1= welcomeMsg
  body
   
        div(id="dashboardContainer" class="flexContainer")
            div(id="fileUploadDiv" class="scheduleUploadContainer")
                form(id="myform" method="post" action="/dashboard"  onsubmit="return validateFile()" enctype="multipart/form-data")
                    input(id="fileUpload" name="file" type="file")
                    input(id="submitFile" type="submit" value="Upload")
                    br
                    textarea(id="text" rows="100" cols="75") #{fileAsJSON} 
            div(id="friendsListDiv" class="friendsListContainer")
                h1 Search For Friend
                form(id="addFriend" method="post" action="/dashboard/addFriend")
                    input(name="searchName" type="text" required)
                    input(type="submit" value="Search")
                if searchMsg
                    p= searchMsg
                if foundUser
                    h2 Search Results
                    form(id="addUser" method="post" action="/dashboard/sendFriendRequest")
                        span(style="display:inline-block;")
                            label #{foundUser}    
                            input(name="foundUsername" type="hidden" value=foundUser)
                            input(name="foundUserID" type="hidden" value=founderUserID)
                            input(type="submit" value="Add Friend" style="display:inline-block;" )
                           
                div(id="currentFriendsDisplayDiv" class = "friendsListContainer")
                    if listOfFriends 
                        ul(id="unorderedListOfFriends")
                            for friend in listOfFriends
                                li= friend


  script.
      var validateFile = function (){
        if(!($('#fileUpload').val().endsWith(".ics"))){
        return false;
        }
      };
